<h1>{{title}}</h1>

<a href="/clients/add" class="btn btn-primary">Add New Client</a>

<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    {{#each clients}}
      <tr>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.phone}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
